* {
	background-color: #c1c1c1;
}
h1 {
	font-family: "Raleway";
	font-size: 60px;
	color: #c4b;
}
img.profile {
	position: absolute;
	top: 25px;
	right: 15px;
	height: 230px;
}
p {
	font-family: "Roboto";
	font-size: 25px;
	max-width: 650px;
	font-weight: bold;
}
h2 {
	position: absolute;
	top: 235px;
	right: 9px;
	font-family: "Oswald";
	font-size: 15px;
}
hr {
	border-color: #3065ba;
}
.links {
	font-family: "Oswald";
	font-size: 30px;
}
h3 {
	font-family: "Fresca";
	font-size: 35px;
}
button {
	font-family: "Raleway";
	font-size: 30px;
	height: 43px;
}