* {
  font-family: "Raleway";
}
h1 {
  font-family: "Raleway";
  font-size: 35px;
}
p.content {
  font-family: "Roboto";
}
img {
  width: 280px;
}
button {
  font-family: "Raleway";
  font-size: 30px;
  height: 43px;
}
